<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.dragon.slcapper</string>
    <key>ProgramArguments</key>
    <array>
        <string>/opt/homebrew/bin/python3</string>
        <string>-B</string>
        <string>/Users/ashish/Documents/beast-trader/scripts/sl_capper.py</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/ashish/Documents/beast-trader</string>
    <key>StartInterval</key>
    <integer>300</integer>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/ashish/Documents/beast-trader/logs/slcapper.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/ashish/Documents/beast-trader/logs/slcapper.err</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
        <key>PYTHONDONTWRITEBYTECODE</key>
        <string>1</string>
        <key>HOME</key>
        <string>/Users/ashish</string>
        <key>SLCAP_DRY_RUN</key>
        <string>0</string>
        <key>SLCAP_XAUUSD</key>
        <string>50</string>
        <key>SLCAP_INCLUDE_BOT</key>
        <string>1</string>
    </dict>
</dict>
</plist>
